<div class="card h-100 shadow-lg">
  <img src="<%=image %>" class="card-img-top" alt="An image of the <%= name %> project">
  <div class="card-body">
    <h5 class="card-title"><%= name %></h5>
  </div>
  <div class="card-footer">
    <a href="<%= link %>">
      <button id="b-<%= ident %>" class="btn btn-outline-primary btn-sm project-link">Select</button>
    </a>
  </div>
</div>